In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from functions import MLP_generator,createDataMain,createTestDataMain
import cPickle

In [2]:
batch_size = 100
seq_len = 16 # same as test set for convenience
learning_rate = 1e-4
epoch = 10

In [3]:
# time dependent list of discrete variables of shape (B,T)
discreteList = ['dayOfWeek','payDay','month','earthquake','type','locale','locale_name','transferred','onpromotion']
# time independent list of discrete variables of shape of shape (B,)
disc_X = ['store_nbr','item_nbr',
 'family', 'class',
 'perishable', 'city',
 'state', 'type', 'cluster']

In [4]:
cardinalitys_X = [55, 4001, 34, 337, 2, 23, 17, 6, 18]
cardinalitys_T = [7, 2, 13, 2, 7, 4, 25, 2, 3]

In [5]:
dimentions_X = [2, 20, 1, 2, 1, 1, 1, 1, 1]
dimentions_T = [1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
dX = sum(dimentions_X)
dT = sum(dimentions_T)
d = 50

In [7]:
lambdas = np.array([2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]) * 1e-4 # regularization coefficient
l1,l2,l3 = 1e-4,1e-4,1e-4

** Build Computational Graph **

In [8]:
def createGraph(batch_size,seq_len,cardinalitys_X,cardinalitys_T,\
                dimentions_X,dimentions_T,dX,dT,d,lambdas,l1,l2,l3):
    tf.reset_default_graph()
    embedding_X = [tf.get_variable("embedding_X"+str(i), [car, dim],\
                                   initializer=tf.truncated_normal_initializer()) \
                for i,(car,dim) in enumerate(zip(cardinalitys_X,dimentions_X))]
    embedding_Xt = [tf.get_variable("embedding_Xt"+str(i), [car, dim],\
                                    initializer=tf.truncated_normal_initializer()) \
                    for i,(car,dim) in enumerate(zip(cardinalitys_T,dimentions_T))]
    embeddings = embedding_X + embedding_Xt
    learning_rate = tf.placeholder(tf.float32,shape=[])
    X = [tf.placeholder(tf.int32, [batch_size,], name='X_'+str(i)) for i,_ in enumerate(dimentions_X)]
    Xt = [tf.placeholder(tf.int32, [batch_size,seq_len], name='Xt_'+str(i)) for i,_ in enumerate(dimentions_T)]
    X_continuous = tf.placeholder(tf.float32, [batch_size,seq_len,1], name='X_continuous')
    Weight = tf.placeholder(tf.float32, [batch_size,seq_len], name='Weight')
    y = tf.placeholder(tf.float32, [batch_size,seq_len], name='y')
    inputs = [y,Weight,X_continuous] + Xt + X + [learning_rate]
    Xt1 = tf.concat([tf.nn.embedding_lookup(emb,x) for emb,x in zip(embedding_Xt,Xt)] + [X_continuous],2)
    X1 = tf.concat([tf.nn.embedding_lookup(emb,x) for emb,x in zip(embedding_X,X)],1)
    weights1_X = tf.Variable(tf.truncated_normal([dX,d],
                        stddev=1.0 / np.sqrt(dX)),name='weights1_X')
    weights1_Xt = tf.Variable(tf.truncated_normal([dT+1,d],
                            stddev=1.0 / np.sqrt(dT)),name='weights1_Xt')
    biases1 = tf.Variable(tf.zeros([d]),
                         name='biases1')
    X2 = tf.nn.relu(biases1 + \
                   tf.reshape(tf.matmul(X1,weights1_X),(-1 if batch_size is None else batch_size,1,d))+\
                   tf.einsum('btp,pq->btq', Xt1, weights1_Xt))
    weights2 = tf.Variable(tf.truncated_normal([d,d],
                        stddev=1.0 / np.sqrt(d)),name='weights2')
    biases2 = tf.Variable(tf.zeros([d]),
                         name='biases2')
    X3 = tf.nn.relu(tf.einsum('btp,pq->btq', X2, weights2) + biases2)
    weights3 = tf.Variable(tf.truncated_normal([d],
                        stddev=1.0 / np.sqrt(d)),name='weights3')
    biases3 = tf.Variable(tf.zeros([1]),
                         name='biases3')
    yhat = tf.nn.relu(tf.einsum('btp,p->bt', X3, weights3) + biases3) # as target is always positive
    regularizer = sum([l*tf.reduce_sum(v**2) for l,v in zip(lambdas,embeddings)])\
                + l1 * tf.reduce_sum(weights1_X**2) + l1 * tf.reduce_sum(weights1_Xt**2)\
                + l2 * tf.reduce_sum(weights2**2)\
                + l3 * tf.reduce_sum(weights3**2)
    cost = tf.reduce_mean(Weight*(tf.log((yhat+1)/(y+1)))**2)
    augment_cost = cost + regularizer
    train_op = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(augment_cost)
    saver = tf.train.Saver()  
    return inputs,train_op,cost,saver,yhat

In [ ]:
inputs,train_op,cost,saver,yhat = createGraph(batch_size,seq_len,cardinalitys_X,cardinalitys_T,\
                                        dimentions_X,dimentions_T,dX,dT,d,lambdas,l1,l2,l3)

** Training **

In [18]:
sess = tf.InteractiveSession()
sess.run(tf.global_variables_initializer())

In [19]:
monitor = 10000

In [9]:
with open(r"dateVar.pickle", "rb") as input_file:
    dateVar_list = cPickle.load(input_file)

In [10]:
train,val = createDataMain(True)

/home/will/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [212]:
for i in range(epoch):
    cost_train = .0
    weight_train = .0
    cost_val = .0
    weight_val = .0
    for j,X_nps in enumerate(MLP_generator(train,batch_size,seq_len,\
                                           dateVar_list,'date',discreteList,True,0.95)):
        _,cost_np = sess.run([train_op,cost],dict(zip(inputs,X_nps+[learning_rate])))
        cost_train += cost_np
        weight_train = weight_train + np.sum(X_nps[1])
        
        if j%monitor == 0:
            for X_nps in MLP_generator(val,batch_size,seq_len,\
                                       dateVar_list,'date',discreteList,False,0.95):
                cost_np = sess.run([cost],dict(zip(inputs,X_nps)))
                cost_val += cost_np[0]       
                weight_val = weight_val + np.sum(X_nps[1])
        
            print "Train loss:{}, Val loss:{}".format(np.sqrt(seq_len*batch_size*cost_train/weight_train),\
                                                      np.sqrt(seq_len*batch_size*cost_val/weight_val))
            cost_train = .0
            weight_train = .0
            cost_val = .0
            weight_val = .0

Train loss:1.1847664692, Val loss:1.60325047916
Train loss:0.986747555891, Val loss:1.07117274607
Train loss:0.879173041289, Val loss:1.0591551266
Train loss:1.00505547683, Val loss:1.03617483385
Train loss:0.945495119286, Val loss:1.02166263329
Train loss:0.967008211188, Val loss:1.01747927126
Train loss:0.880663006896, Val loss:0.997249728902
Train loss:0.960428059044, Val loss:0.980836555935
Train loss:0.807946631411, Val loss:0.951968467435
Train loss:0.813474913948, Val loss:0.940263721327

In [215]:
# Save model parameters
saver.save(sess,'ANN_fillin')

'ANN_fillin'

** Prediction **

In [9]:
inputs,train_op,cost,saver,yhat = createGraph(None,seq_len,cardinalitys_X,cardinalitys_T,\
                                              dimentions_X,dimentions_T,dX,dT,d,lambdas,l1,l2,l3)

In [11]:
sess = tf.InteractiveSession()
sess.run(tf.global_variables_initializer())

In [12]:
saver.restore(sess,'ANN_fillin')

INFO:tensorflow:Restoring parameters from ANN_fillin

In [18]:
test_SI,test_newItem = createTestDataMain()

In [42]:
range(0,10,3)

[0, 3, 6, 9]

In [60]:
test_New#.shape[0]

,store_nbr,item_nbr,id,family,class,perishable,city,state,type,cluster,onpromotion,amin,amax
0,1,313094,"(125497336, 125707990, 125918644, 126129298, 1...",1,32,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
1,1,1464607,"(125499597, 125710251, 125920905, 126131559, 1...",9,250,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
2,1,1467088,"(125499616, 125710270, 125920924, 126131578, 1...",1,86,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
3,1,1467093,"(125499617, 125710271, 125920925, 126131579, 1...",1,1,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
4,1,2011437,"(125500528, 125711182, 125921836, 126132490, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5,1,2011448,"(125500529, 125711183, 125921837, 126132491, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
6,1,2011451,"(125500532, 125711186, 125921840, 126132494, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
7,1,2011457,"(125500533, 125711187, 125921841, 126132495, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
8,1,2011459,"(125500534, 125711188, 125921842, 126132496, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
9,1,2011468,"(125500536, 125711190, 125921844, 126132498, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
10,1,2011470,"(125500537, 125711191, 125921845, 126132499, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
11,1,2015646,"(125500565, 125711219, 125921873, 126132527, 1...",1,322,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
12,1,2109969,"(125500845, 125711499, 125922153, 126132807, 1...",1,80,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
13,1,2112280,"(125500849, 125711503, 125922157, 126132811, 1...",18,123,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
14,1,2112303,"(125500850, 125711504, 125922158, 126132812, 1...",18,334,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
15,1,2112461,"(125500852, 125711506, 125922160, 126132814, 1...",1,11,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
16,1,2112462,"(125500853, 125711507, 125922161, 126132815, 1...",1,11,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
17,1,2112607,"(125500854, 125711508, 125922162, 126132816, 1...",9,249,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
18,1,2114752,"(125500858, 125711512, 125922166, 126132820, 1...",1,7,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
19,1,2116132,"(125500860, 125711514, 125922168, 126132822, 1...",18,247,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
20,1,2116139,"(125500861, 125711515, 125922169, 126132823, 1...",1,318,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
21,1,2116238,"(125500862, 125711516, 125922170, 126132824, 1...",18,247,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
22,1,2117783,"(125500864, 125711518, 125922172, 126132826, 1...",12,51,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
23,1,2118397,"(125500865, 125711519, 125922173, 126132827, 1...",18,207,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
24,1,2120180,"(125500867, 125711521, 125922175, 126132829, 1...",1,58,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
25,1,2120216,"(125500868, 125711522, 125922176, 126132830, 1...",1,58,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
26,1,2120506,"(125500869, 125711523, 125922177, 126132831, 1...",1,26,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
27,1,2120681,"(125500870, 125711524, 125922178, 126132832, 1...",1,4,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
28,1,2120723,"(125500871, 125711525, 125922179, 126132833, 1...",1,318,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
29,1,2120768,"(125500872, 125711526, 125922180, 126132834, 1...",1,26,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,54,2127921,"(125707664, 125918318, 126128972, 126339626, 1...",1,4,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5101,54,2127992,"(125707665, 125918319, 126128973, 126339627, 1...",1,4,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5102,54,2128628,"(125707666, 125918320, 126128974, 126339628, 1...",9,33,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5103,54,2128799,"(125707667, 125918321, 126128975, 126339629, 1...",9,252,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5104,54,2129334,"(125707668, 125918322, 126128976, 126339630, 1...",1,72,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5105,54,2129350,"(125707669, 125918323, 126128977, 126339631, 1...",1,72,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5106,54,2129387,"(125707670, 125918324, 126128978, 126339632, 1...",1,318,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5107,54,2129515,"(125707671, 125918325, 126128979, 126339633, 1...",1,32,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5108,54,2129616,"(125707672, 125918326, 126128980, 126339634, 1...",9,48,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5109,54,2129678,"(125707673, 125918327, 126128981, 126339635, 1...",1,11,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5110,54,2129786,"(125707674, 125918328, 126128982, 126339636, 1...",1,22,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5111,54,2129790,"(125707675, 125918329, 126128983, 126339637, 1...",1,160,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5112,54,2129892,"(125707676, 125918330, 126128984, 126339638, 1...",1,9,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5113,54,2129994,"(125707677, 125918331, 126128985, 126339639, 1...",1,9,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5114,54,2130131,"(125707678, 125918332, 126128986, 126339640, 1...",1,9,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5115,54,2130219,"(125707679, 125918333, 126128987, 126339641, 1...",1,160,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5116,54,2130265,"(125707680, 125918334, 126128988, 126339642, 1...",1,160,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5117,54,2130352,"(125707681, 125918335, 126128989, 126339643, 1...",1,160,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5118,54,2130474,"(125707682, 125918336, 126128990, 126339644, 1...",1,161,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5119,54,2130521,"(125707683, 125918337, 126128991, 126339645, 1...",1,26,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5120,54,2130526,"(125707684, 125918338, 126128992, 126339646, 1...",1,11,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5121,54,2130553,"(125707685, 125918339, 126128993, 126339647, 1...",18,140,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5122,54,2131010,"(125707686, 125918340, 126128994, 126339648, 1...",18,337,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5123,54,2131572,"(125707687, 125918341, 126128995, 126339649, 1...",1,77,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5124,54,2131699,"(125707688, 125918342, 126128996, 126339650, 1...",1,77,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5125,54,2132163,"(125707689, 125918343, 126128997, 126339651, 1...",1,26,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5126,54,2132318,"(125707690, 125918344, 126128998, 126339652, 1...",1,77,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5127,54,2132945,"(125707691, 125918345, 126128999, 126339653, 1...",1,38,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5128,54,2132957,"(125707692, 125918346, 126129000, 126339654, 1...",1,318,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
5129,54,2134244,"(125707693, 125918347, 126129001, 126339655, 1...",18,174,0,22,16,3,3,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31

In [65]:
data = test_New.head()

In [67]:
sparse = pd.concat([data.apply(lambda x: pd.Series(x.id),axis=1)\
                                .stack().reset_index().drop(['level_1'],1),\
                    data.apply(lambda x: pd.Series(x.onpromotion),axis=1)\
                                .stack().reset_index().drop(['level_0','level_1'],1)],1)

In [69]:
data

,store_nbr,item_nbr,id,family,class,perishable,city,state,type,cluster,onpromotion,amin,amax
0,1,313094,"(125497336, 125707990, 125918644, 126129298, 1...",1,32,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
1,1,1464607,"(125499597, 125710251, 125920905, 126131559, 1...",9,250,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
2,1,1467088,"(125499616, 125710270, 125920924, 126131578, 1...",1,86,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
3,1,1467093,"(125499617, 125710271, 125920925, 126131579, 1...",1,1,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31
4,1,2011437,"(125500528, 125711182, 125921836, 126132490, 1...",1,320,0,1,1,1,13,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)",2017-08-16,2017-08-31

In [68]:
sparse

    level_0          0  0
0         0  125497336  0
1         0  125707990  0
2         0  125918644  0
3         0  126129298  0
4         0  126339952  0
5         0  126550606  0
6         0  126761260  0
7         0  126971914  0
8         0  127182568  0
9         0  127393222  0
10        0  127603876  0
11        0  127814530  0
12        0  128025184  0
13        0  128235838  0
14        0  128446492  0
15        0  128657146  0
16        1  125499597  0
17        1  125710251  0
18        1  125920905  0
19        1  126131559  0
20        1  126342213  0
21        1  126552867  0
22        1  126763521  0
23        1  126974175  0
24        1  127184829  0
25        1  127395483  0
26        1  127606137  0
27        1  127816791  0
28        1  128027445  0
29        1  128238099  0
..      ...        ... ..
50        3  125920925  0
51        3  126131579  0
52        3  126342233  0
53        3  126552887  0
54        3  126763541  0
55        3  126974195  0
56        3  127184849  0
57        3  127395503  0
58        3  127606157  0
59        3  127816811  0
60        3  128027465  0
61        3  128238119  0
62        3  128448773  0
63        3  128659427  0
64        4  125500528  0
65        4  125711182  0
66        4  125921836  0
67        4  126132490  0
68        4  126343144  0
69        4  126553798  0
70        4  126764452  0
71        4  126975106  0
72        4  127185760  0
73        4  127396414  0
74        4  127607068  0
75        4  127817722  0
76        4  128028376  0
77        4  128239030  0
78        4  128449684  0
79        4  128660338  0

[80 rows x 3 columns]