In [20]:
# For (S,I), if seen in train, use TS model. If unseen due to unseen I, use base model, else 0.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
#from pandas.tseries.offsets import MonthEnd
import cPickle

In [3]:
types = {'id': 'int32',
         'item_nbr': 'int32',
         'store_nbr': 'int8',
         'unit_sales': 'float32',
         'onpromotion': bool}

In [4]:
test = pd.read_csv('test.csv',parse_dates=['date'],dtype=types, infer_datetime_format=True)
test = test.fillna(2,axis=1)
test.onpromotion = test.onpromotion.astype(np.int8)

In [5]:
train = pd.read_csv('train.csv',usecols=['date','item_nbr','store_nbr','unit_sales','onpromotion'],\
                    parse_dates=['date'],dtype=types, infer_datetime_format=True)

/home/will/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
train = train.fillna(2,axis=1)
train.onpromotion = train.onpromotion.astype(np.int8)
train.loc[train.unit_sales<0,'unit_sales'] = .0 # clip negative sales to zero

In [7]:
val = train[train.date >= '2017-07-31']
train = train[train.date < '2017-07-31']

In [5]:
test.head()

          id       date  store_nbr  item_nbr  onpromotion
0  125497040 2017-08-16          1     96995            0
1  125497041 2017-08-16          1     99197            0
2  125497042 2017-08-16          1    103501            0
3  125497043 2017-08-16          1    103520            0
4  125497044 2017-08-16          1    103665            0

In [6]:
S = set(test.store_nbr.values)

In [8]:
I = set(test.item_nbr.values)

In [15]:
T = set(test.date.values)

In [9]:
S_I = set(test.item_nbr.values+test.store_nbr.values/100.0)

In [11]:
len(S)

54

In [12]:
len(I)

3901

In [17]:
len(T)

16

In [13]:
len(S_I)

210654

In [14]:
len(S) * len(I)

210654

In [18]:
test.shape[0]

3370464

In [19]:
len(S) * len(I) * len(T)

3370464